<html>
    <head>
        <title>Email</title>
<style>
body {
    background-color: #F8F8F9;
    color: #616161;
    font-family: 'Arimo',sans-serif;
}
a {
    color: #808080;
}
.clearboth {
    clear: both;
}
</style>

    </head>
    <body>
        <div style="width: 590px; margin: 0 auto; text-align: center;">
            <div style="width: 100%; margin: 30px 20px; padding: 45px 0px 0px 0px;"><img src="http://www.ship.li/assets/store/logo_blue.png"/></div>
            <div style="background: none repeat scroll 0 0 #0082B0; color: #FFFFFF; font-size: 20px; margin-top: 10px; padding: 10px; width: 100%;">Let the good times continue!</div>
            <div style="margin-top: 30px; font-size: 24px; color: #16a085; font-weight: bold;"> 
                <%= raw @message %>
            </div>
            <div style="margin-top: 10px; font-weight: bold; font-style: italic; float: right;">Thanks<br/>- team ship.li</div>
            <div class="clearboth " style="height: 30px;"></div>
        <a href="https://www.ship.li" style="background: #FBA433; margin-top: 30px; padding: 20px; text-decoration: none; color: #fff;" >Experience ship.li</a>
            <div style="color: #777; font-style: italic; margin-top: 100px;">We heart our customers, please send us feedback on anything we can improve.</div>
            <p></p>
        </div>
    </body>
</html>
