<!DOCTYPE html>
<html>
<head>
<title>Email</title>

<style>
body {
    background-color: #F8F8F9;
    color: #616161;
    font-family: 'Arimo',sans-serif;
}

a {
    color: #808080;
}
.clearboth {
    clear: both;
}
</style>
</head>

<body>
    <div style="width: 590px; margin: 0 auto; text-align: center;">

        <div style=" font-size: 18px;      margin: 30px 20px;   padding: 45px 0px 0px 0px; ">Welcome and thanks for registering... We heart you!</div>
        <div style="width: 100%;"><img src="https://www.ship.li/assets/store/logo_blue.png"/></div>
        <div style="background: none repeat scroll 0 0 #FBA433;    color: #FFFFFF;    font-size: 20px;    margin-top: 10px;    padding: 10px;    width: 100%;">Let the good times begin!</div>
        <div style="margin-top: 20px;">Shopping for essential products such as beauty, style, personal care, grooming, beverages, kids & babies can be time consuming</div>
        <div style="margin-top: 20px; font-size: 20px; width: 100%;">Now that you're part of the ship.li family, you are in for a real treat!</div>
        <div style="margin-top: 20px; font-size: 17px;">Our goal is to make "local stores shopping" super easy!</div>
        <div style="margin-top: 20px; font-size: 17px;">Now you can shop from local stores; at comforts of your home and get your orders delivered to your doorsteps same day if not in hours.
        </div>
        <div style="margin-top: 30px; font-size: 24px; color: #16a085; font-weight: bold;"> We heart you! Get 10% OFF on all items on your first order, just add coupon code "heartshipli" on checkout
            <br/>
        <%= raw @message %>
        </div>
        <div style="margin-top: 10px; font-weight: bold; font-style: italic; float: right;">- team ship.li</div>
        <div class="clearboth " style="height: 30px;"></div>
        <a href="https://www.ship.li" style="background: #FBA433; margin-top: 30px; padding: 20px; text-decoration: none; color: #fff;" >Experience ship.li</a>

        <div style="color: #777; font-style: italic; margin-top: 100px;">We heart our customers, please send us feedback on anything we can improve.</div>
    <p></p>
    </div>
</body>

</html> 