{{#location}}
<div class="loc-name gmap-window-text">{{name}}</div>
<div class="gmap-window-text">{{address}}, {{address2}}</div>
<div class="gmap-window-text"></div>
<div class="gmap-window-text">{{city}}, {{postal}}</div>
<div class="gmap-window-text">{{phone}}</div>
<div class="gmap-window-text"><a href="http://{{web}}" target="_blank">{{web}}</a></div>
<div class="gmap-window-text">{{hours1}}</div>   
<div class="gmap-window-text"><button class="btn-gmap-choose-store" id="{{loc_id}}" onClick="move_to_packing_bag({{loc_id}});">Choose Store</button></div>
{{/location}}