<html>
    <head>
        <title>Order Picked Up Email</title>        
    </head>
    <body>
        <div style="color: #808080; margin: 0 auto; text-align: center; width: 590px; ">    
            <div style="font-size: 18px; margin-top: 40px">
                Your order is picked up ! It's on the way for delivery.
            </div>
            <div style="width: 100%; margin-top:20px;">
                <img src="/assets/store/logo_blue.png"/>            
            </div>
            <div style="background: none repeat scroll 0 0 #FBA433; color: #FFFFFF; font-size: 20px; height: 35px; margin-top: 10px; padding-top: 12px; width: 100%;">
                Here are your order details
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom: 10px; text-align:justify;">
                    Name: <span style="text-transform:capitalize;">CUSTOMER NAME </span>| Contact Number<br/>
                    Order Number: R88229983<br/>
                    Date: 7 September 2013 at 7:38 PM
                </div>
                <div style="float:none; margin-bottom: 10px; text-align:right;">
                    Delivery Date: 8th Sept from 5 PM till 8 PM
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width: 100%; ">
                    <span style="text-transform:capitalize;">ARMANI BLACK CODE</span> - Eu De Toilette 50 ML<br/>
                    From Shezad Traders : to be shipped to your address
                </div>
                <div style="float:right; margin-bottom:10px; text-align:right;">                    
                    X 10 Units
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:100%;">
                    <span style="text-transform:capitalize;">
                        JACOBS CREEK - RED WINE CASE
                    </span> of 6<br/>
                    From Le-Vina : to be shipped to your address
                </div>
                <div style="float:right; margin-bottom:10px; text-align:right;">                    
                    X 1 Units
                </div>
            </div>                        
            <div style="color:#808080; float:left; font-size:13px; margin-top: 10px; margin-bottom: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:40%;">
                    Billing Address <br/>
                    4 Leng Kee Road<br/>
                    #04-04A ,SiS Building<br/>
                    Singapore 159088
                </div>
                <div style="float:left; margin-bottom:10px; text-align:left;">
                    Shipping Address<br/>
                    4 Leng Kee Road<br/>
                    #04-04A ,SiS Building<br/>
                    Singapore 159088
                </div>
            </div><br/>
            <div style="color: #808080; font-size: 18px; text-align:center;">
                sit back and relax, we are on the way to deliver<br/>
                this order on 8th Sep 2013 between 5PM to 8PM
            </div>
            <div style="color: #808080; font-size: 13px; margin-top: 20px; text-align:center;">
                Need some more info ?<br/>
                Call us at 9488-7440 or email to help@ship.li
            </div>
            <div style="float: right; font-style: italic; font-weight: bold; margin-top: 10px;">
                Thank you<br/>
                - team ship.li
            </div>
            <div class="clearboth " style="height: 15px;"></div>
            <div style="color: #777; font-style: italic; margin-top: 50px;">
                We heart our customers, please send us feedback on anything we can improve.
            </div>
        </div>
    </body>
</html>
