<html>
    <head>
        <title>Order Email</title>        
    </head>
    <body>
        <div style="color: #808080; margin: 0 auto; text-align: center; width: 590px; ">    
            <div style="font-size: 18px; margin-top: 40px;">
                We've got your order, sit back and relax. We are on it.
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <img src="/assets/store/logo_blue.png"/>           
            </div>
            <div style="background: none repeat scroll 0 0 #FBA433; color: #FFFFFF; font-size: 20px; height: 35px; margin-top: 10px; padding-top: 12px; width: 100%;">
                Here are your order details
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom: 10px; text-align:justify;">
                    Name: <span style="text-transform:capitalize;">CUSTOMER NAME </span>| Contact Number<br/>
                    Order Number: R88229983<br/>
                    Date: 7 September 2013 at 7:38 PM
                </div>
                <div style="float:none; margin-bottom: 10px; text-align:right;">
                    Delivery Date: 8th Sept from 5 PM till 8 PM
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:71%;">
                    <span style="text-transform:capitalize;">ARMANI BLACK CODE</span> - Eu De Toilette 50 ML<br/>
                    From Shezad Traders : to be shipped to your address
                </div>
                <div style="float:none; margin-bottom:10px; text-align:right;">
                    <span style="text-decoration:line-through;">Original Price $88.50</span><br/>
                    Sale Price $70.00<br/>
                    X 10 Units
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; loat:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:71%;">
                    <span style="text-transform:capitalize;">         JACOBS CREEK - RED WINE CASE</span> of 6<br/>
                    From Le-Vina : to be shipped to your address
                </div>
                <div style="float:none; margin-bottom:10px; text-align:right;">
                    <span style="text-decoration:line-through;">Original Price $180.00</span><br/>
                    Sale Price $120.00<br/>
                    X 1 Units
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:71%;">
                    RayBan Anti Glare Frame - Black<br/>
                    From Vision Opticals: <span style="color:#156CA2;">to be collect by you before 12 Sept 2013 from 8 Holland Drive,#01-02, Singapore 15908
                </div>
                <div style="float:none; margin-bottom:10px; text-align:right;">
                    Price $180.00<br/><br/>
                    X 1 Units
                </div>
            </div>
            <div style="border-bottom:1px solid #156CA2; color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:right; width: 82%;">
                    Sub Total<br/>
                    Shipping<br/>
                    Coupon "Heartshipli" Redemption<br/>
                    <b>Total</b><br/>
                    GST Paid to retailers
                </div>
                <div style="float:none; margin-bottom:10px; text-align:right;">
                    $370:00<br/>
                    <span style="text-transform:capitalize;">FREE</span><br/>
                    -$37:00<br/>
                    <b>$333.00</b><br/>
                    $21:78
                </div>
            </div>
            <div style="color:#808080; float:left; font-size:13px; margin-top: 10px; margin-bottom: 10px; width:100%;">
                <div style="float:left; margin-bottom:10px; text-align:justify; width:40%;">
                    Billing Address <br/>
                    4 Leng Kee Road<br/>
                    #04-04A ,SiS Building<br/>
                    Singapore 159088
                </div>
                <div style="float:left; margin-bottom:10px; text-align:left;">
                    Shipping Address<br/>
                    4 Leng Kee Road<br/>
                    #04-04A ,SiS Building<br/>
                    Singapore 159088
                </div>
            </div><br/>
            <div style="color: #808080; font-size: 18px; text-align:center;">
                sit back and relax, we are working on<br/>
                delivering this order on 8th Sep 2013 between 5PM to 8PM
            </div>
            <div style="color:#156CA2; font-size: 18px; margin-top: 20px; text-align:center;">
                By the way, you have one or more self collection in this order
            </div>
            <div style="color: #808080; font-size: 13px; margin-top: 20px; text-align:center;">
                Need some more info ?<br/>
                Call us at 9488-7440 or email to help@ship.li
            </div>
            <div style="color: #808080; font-size: 17px; margin-top:20px; ext-align:center;">
                Now that you're part of the ship.li family, you're in for a real treat !
            </div>
            <div style="color: #1ABC9C; font-size: 21px; margin-top:10px; text-align:center;">
                <b>
                    We heart you, get FREE Delivery on your second order just add coupon code "HeartShipliAgain" on checkout
                </b>
            </div>
            <div style="float: right; font-style: italic; font-weight: bold; margin-top: 10px;">
                Thank you<br/>
                - team ship.li
            </div>
            <div style="background: none repeat scroll 0 0 #FBA433; color: #FFFFFF; font-size: 20px; margin-left: 210px; margin-top: 60px; padding: 10px; width: 32%;">
                <b>
                    Something more to order ?
                </b>
            </div>
            <div class="clearboth " style="height: 15px;"></div>
            <div style="color: #777; font-style: italic; margin-top: 10px;">
                We heart our customers, please send us feedback on anything we can improve.
            </div>
        </div>
    </body>
</html> 