<html>
    <head>
        <title>Pick-Up Order Email</title>        
    </head>
    <body>
        <div style="color: #808080; margin: 0 auto; text-align: center; width: 590px; ">    
            <div style="font-size: 18px; margin-top: 40px;">
                We've got an order for you!<br/>
                It will be <span style="text-decoration:underline">pick-up</span> anytime in next 7 days from 20th Sept. to 26th Sept.
            </div>
            <div style="width: 100%; margin-top: 20px;">
                <img src="/assets/store/logo_blue.png"/>                     
            </div>
            <div style="background: none repeat scroll 0 0 #FBA433; color: #FFFFFF; font-size: 20px; height: 35px; margin-top: 10px; padding-top: 12px; width: 100%;">
                Here are your order details
            </div>
            <div style="color: #808080; float:left; font-size:13px; margin-top: 10px; width:100%;">
                <div style="float:left; margin-bottom: 10px; text-align:justify;">
                    Name: <span style="text-transform:capitalize;">CUSTOMER NAME </span><br/>
                    Order Number: R88229983<br/>
                    Date: 7 September 2013 at 7:38 PM
                </div>
                <div style="float:none; margin-bottom: 10px; text-align:right;">
                    Pick-Up Date: 20th Sept to 26th Sept
                </div>
            </div>
            <table cellspacing="0" style="border-bottom:1px solid #156CA2; border-top:1px solid #156CA2; color: #808080; font-size:13px; width:100%;">                
                <thead>
                    <tr>
                        <th style="border-bottom:1px solid #156CA2;">SKU</th>
                        <th style="border-bottom:1px solid #156CA2;">Product</th>
                        <th style="border-bottom:1px solid #156CA2;">Price</th>
                        <th style="border-bottom:1px solid #156CA2;">Quantity</th>
                        <th style="border-bottom:1px solid #156CA2;">Total</th>
                    </tr>   
                </thead>
                <tfoot>
                    <tr>
                        <td colspan = "4" style ="border-top:1px solid #156CA2;text-align:right;">Order Total</td>
                        <td style="border-top:1px solid #156CA2;text-align:center;">$100</td>
                    </tr>
                </tfoot> 
                <tbody>
                    <tr>
                        <td>SKU-001</td>
                        <td style="text-align:left;">Product 1</td>
                        <td style="text-align:center;">$100</td>
                        <td style="text-align:center;">1</td>
                        <td style="text-align:center;">$100</td>             
                    </tr>
                </tbody>  
            </table>    
            <div style="color: #808080; font-size: 13px; margin-top: 20px; text-align:center;">
                Need some more info ?<br/>
                Call us at 9488-7440 or email to help@ship.li
            </div>
            <div style="color: #1ABC9C; font-size: 18px; margin-top:10px; text-align:center;">
                <b>
                    To change the status of this order either login to <a href="https://www.ship.li/admin/">SELLER NAME on Ship.li admin</a> or digitizer bussiness application
                </b>
            </div>
            <div style="float: right; font-style: italic; font-weight: bold; margin-top: 10px;">
                Thank you<br/>
                - team ship.li
            </div>
            <div class="clearboth " style="height: 15px;"></div>
            <div style="color: #777; font-style: italic; margin-top: 15px; float:left;">
                We heart our retailers, please send us feedback on anything we can improve.
            </div>
        </div>
    </body>
</html>