<div id="pick-up-shipli-products">
  <div id="scrollbar-locator">
    <div class="scrollbar">
      <div class="track" id="scroll">
        <div class="thumb">
          <div class="end">
          </div>
        </div>
      </div>
    </div>
    <div class="viewport">
      <div class="overview">
        <div id="map-container">
          <div id="loc-list">
            <ul id="list"></ul>
          </div>
        </div>  
      </div>
    </div>
  </div>      
  <div class="pickup-at-store">
    <%= button_tag :class => 'large primary',  :id => 'pickup-at-store-button', :type => :button do %>
      <%= Spree.t(:pickup_at_store) %>
    <% end %>
  </div>
</div>         
<div class="clearboth"></div>
<div>
  <h6 class="product-section-title">All <%= link_to @product.seller.try(:name), seller_path(@product.seller.permalink)%> stores in Singapore</h6>
</div>
<div id="map-box"> 
  <div id="map"></div>        
</div>
<div class="clearboth"></div>