/* Static Header */
@media only screen and (min-width: 320px) and (max-width: 479px){
    #static-header{
        height: 174px !important;
    }
    #static-header-gap{
        height: 174px !important;
    }
    figure#logo {
    	float: left;
    	width: 100%;
    	text-align: center;
	}    
    .custom_wishlist {        
        overflow: auto; 
        max-height: 415px;
    }         
} 

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .custom_wishlist {                
        max-width: 470px;
        overflow: auto; 
        max-height: 420px;
    } 
}

@media only screen and (min-width: 768px) and (max-width: 980px) {
    .custom_wishlist {        
        max-width: 725px; 
        overflow: auto;   
        max-height: 415px;     
    } 
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {
    .custom_wishlist {        
        max-width: 920px;        
        overflow: auto; 
        max-height: 405px;     
    } 
}