<div id = "inc-footer">
	<span class="copyright">&copy; 2013 Anchanto Pte Ltd</span>, 4 Leng Kee Road #04-04A SiS Building, Singapore 159088 
	<br/>
        <a href = "https://ship.li" target = "_blank" style="text-decoration: none;color:gray;">www.ship.li</a> . <a href ="#" style="text-decoration: none;color:gray;"><%=mail_to "help@ship.li"%></a> . &nbsp;&#9742; +65 6822 9476
</div>

<style type="text/css">
 #inc-footer{
 	text-align: center;
        color: gray;
        text-decoration: none !important;
 }
</style>