<thead>
<tr>
  <th style="border-bottom: 2px solid black;">SKU</th>
  <th style="border-bottom: 2px solid black;">Product</th>
  <th style="border-bottom: 2px solid black;">Quantity</th>
</tr>
</thead>
<tbody>    
  <% line_items.each do |item| %>
    <tr>
      <td style="text-align:left; vertical-align:top;"><%= item.variant.try(:sku)%></td>
      <td style="text-align:left; padding-left: 10px"><%= item.variant.try(:name)%></td>
      <td style="text-align:center;"><%= item.quantity %></td>
    </tr>    
  <% end %>  
</tbody>
