<label for="market_place" style = 'margin-left:20px;'>Market Places</label><span class="required">*</span><br />
<%= select_tag "market_place_id", options_for_select(@market_places.collect {|p| [ p['name'], p['id'] ] }), :multiple=>"multiple", :name=>'market[place_id][]', :style => 'margin-top:4px;margin-left:20px;' %>

