<footer id="footer" class="sixteen columns" style="position: fixed!important; bottom: 0px!important; width: 100%!important;" data-hook>
  <div class="alpha four columns">
    <div class="">Anchanto Pte Ltd &copy; 2015 &#8226;</div>
  </div>
</footer>
