
<div class="business-sign-in" data-hook="admin_product_form_left">    
  <div class="signupmessage">Business Login</div>  
  <%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <table>
    <tr>
        <td>
             <div class="fields">
              <%= f.email_field :email, :tabindex => 1, :required => true , :placeholder=> "Email *"%>
              </div>
        </td>       
    </tr>
    <tr>
        <td>
            <div class="fields">
              <%= f.password_field :password, :tabindex => 2, :required => true , :placeholder=> "Password *"%>
              </div>  
        </td>       
        </tr>
        <tr>
            <td align="right">    
                <input type="submit" value="Login" id="business-signin-button"/>
                
        </td></tr>      
  </table>
 <% end %>
 
    
  
</div>
