@import 'compass';
@import 'compass/css3';
@import 'admin/globals/_variables';
@import 'admin/ship.li_admin';

.pagination {
  padding: 10px 0;
  text-align: center;

  .page {
    padding: 5px 8px;
    text-align: center;
    display: inline-block;
    text-align: center;

    &.current {
      background-color: #CCC;
      border-radius: 3px;
      color: $color-6;
    }
  }
}